
@tailwind base;
@tailwind components;
@tailwind utilities;


#back {
    background-size: cover;
    background-position: center;
    animation: changeBackground 20s infinite; /* Change background every 10 seconds */
}

@keyframes changeBackground {
    0% {
        background-image: url('https://tecdn.b-cdn.net/img/new/slides/041.jpg');
    }
    33.33% {
        background-image: url('https://tecdn.b-cdn.net/img/new/slides/042.jpg');
    }
    66.66% {
        background-image: url('https://tecdn.b-cdn.net/img/new/slides/043.jpg');
    }
    100% {
        background-image: url('https://tecdn.b-cdn.net/img/new/slides/044.jpg');
    }
}

